<html>
	<head>
		<title>Smdpp - Index</title>
		<link href="css/main.css" rel="stylesheet" />
		<script type="text/javascript" src="js/jquery.js"></script>
	</head>
	<body>
		<div class="wrapper">
			<ul id="nav">
				<li>Dosya</li>
				<li>Ayarlar</li>
				<li>Yardım</li>
			</ul>
			<div id="app-zone">
				<div id="connection">
					<div class="header">Bağlantı</div>
					<div class="con">
						<div class="row">
							<div class="cell left">
								<label>Com Port:</label>
							</div>
							<div class="cell right">
								<select id="com-ports-select">
								</select>
							</div>
						</div>
						<div class="row">
							<div class="cell left">
								<label>Baud Rate:</label>
							</div>
							<div class="cell right">
								<select id="baud-rates-select">
								</select>
							</div>
						</div>
						<div class="space-vertical"></div>
						<div class="row">
							<div class="cell right">
								<button type="button">Bağlan</button>
							</div>
						</div>
					</div>
				</div>
				<div id="camera">
					<div class="header">Kamera</div>
					<div class="con">
						<video autoplay="true" id="videoElement" style="width: 100%; height: 100%"></video>
					</div>
				</div>
				<div id="tabbed-mdi">
				</div>
				<div id="jog-panel">
					<div class="header">Kontrol</div>
					<div class="con"></div>
				</div>
			</div>
			<img id="wrench" src="img/wrench-icon.png" />
		</div>

		<script type="text/javascript">
			$(document).ready(function(e) {
				var comPorts = windowsApp.getPortNames();

				for(var i = 0; i < comPorts.length; i++) {
					var item = comPorts[i];
					var optionField = $("<option value='" + item + "'>" + item + "</option>");
					$("select#com-ports-select").append(optionField);
				}

				var baudRates = windowsApp.getBaudRates();

				for(var i = 0; i < baudRates.length; i++) {
					var item = baudRates[i];
					var optionField = $("<option value='" + item + "'>" + item + "</option>");

					if (item === "256000")
						optionField.attr("selected", "selected");
					
					$("select#baud-rates-select").append(optionField);
				}

				$("body").on("click", "img#wrench", function(e) {
					windowsApp.showDevTools();
				});
			});

			var video = document.querySelector("#videoElement");
 
			navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia || navigator.oGetUserMedia;
 
			//https://simpl.info/getusermedia/sources/js/main.js


			if (navigator.getUserMedia) {       
				var constraints = {
									audio: false,
									video: {
									  optional: [{
										sourceId: "8476b60d612c58caf749dc4d31ad62766ca23dbda9d7c485065b1e1825470153"
									  }]
									}
								  };

				navigator.getUserMedia(constraints, handleVideo, videoError);
			}
 
			function handleVideo(stream) {
				video.src = window.URL.createObjectURL(stream);
			}
 
			function videoError(e) {
				// do something
			}
		</script>
	</body>
</html>