<html>
	<head>
		<title>Smdpp - Index</title>
		<link href="css/main.css" rel="stylesheet" />
		<script type="text/javascript" src="js/jquery.js"></script>
	</head>
	<body>
		<div class="wrapper">
			<ul id="nav">
				<li>Dosya</li>
				<li>Ayarlar</li>
				<li>Yardım</li>
			</ul>
			<div id="app-zone">
				<div id="connection">
					<div class="header">Bağlantı</div>
					<div class="con">
						<div class="row">
							<div class="cell left">
								<label>Com Port:</label>
							</div>
							<div class="cell right">
								<select id="com-ports-select">
								</select>
							</div>
						</div>
						<div class="row">
							<div class="cell left">
								<label>Baud Rate:</label>
							</div>
							<div class="cell right">
								<select id="baud-rates-select">
								</select>
							</div>
						</div>
						<div class="space-vertical"></div>
						<div class="row">
							<div class="cell right">
								<button type="button">Bağlan</button>
							</div>
						</div>
					</div>
				</div>
				<div id="camera">
					<div class="header">Kamera</div>
					<div class="con">
						<video id="video" muted autoplay></video>
						<video id="video2" muted autoplay></video>
					</div>
				</div>
				<div id="tabbed-mdi">
					<script type="text/javascript">
						function closeTab(headerId) {
							var tabId = headerId.replace("header", "tab");

							selectClosestPage(headerId);

							$("div#" + tabId).remove();
							$("div#" + headerId).remove();
						}

						function selectClosestPage(headerId) {
							var closest  = $("div.headers div#" + headerId).next(); 

							if (!closest.hasClass("tab-header"))
								closest = $("div.headers div#" + headerId).prev();

							if (closest.hasClass("tab-header")) {
								var headerId = closest.attr("id");

								selectPage(headerId);
							}
						}

						function selectPage(headerId) {
							$("div.headers div").removeClass("active");
							$("div.tab").removeClass("active");

							$("div.headers div#" + headerId).addClass("active");

							var tabId = headerId.replace("header", "tab");
							$("div#" + tabId).addClass("active");
						}

						$(document).ready(function() {
							$("body").on("click", "div#tabbed-mdi .headers .tab-header i", function(e) {
								e.preventDefault();
								e.stopPropagation();

								var headerId = $(this).parent().attr("id");

								closeTab(headerId);
							});

							$("body").on("click", "div#tabbed-mdi .headers .tab-header", function(e) {
								if (!$(this).hasClass("active")) {
									var headerId = $(this).attr("id");

									selectPage(headerId);
								}
							});
						});
					</script>
					<div class="headers">
						<div class="tab-header active" id="header-1">Çalışma #1 <i></i></div>
						<div class="tab-header" id="header-2">Çalışma #2 <i></i></div>
						<div class="tab-header" id="header-3">Ayarlar <i></i></div>
					</div>
					<div id="tab-1" class="tab active">
						Çalışma dosyası burada olacak.
					</div>
					<div id="tab-2" class="tab">
						Motor ayarlaarı ile alakalı içerik sayfası
					</div>
					<div id="tab-3" class="tab">
						Kılıf
					</div>
				</div>
				<div id="jog-panel">
					<div class="header">Kontrol</div>
					<div class="con"></div>
				</div>
			</div>
			<img id="wrench" src="img/wrench-icon.png" />
		</div>

		<script type="text/javascript">
			'use strict';

			$(document).ready(function(e) {
				var comPorts = windowsApp.getPortNames();

				for(var i = 0; i < comPorts.length; i++) {
					var item = comPorts[i];
					var optionField = $("<option value='" + item + "'>" + item + "</option>");
					$("select#com-ports-select").append(optionField);
				}

				var baudRates = windowsApp.getBaudRates();

				for(var i = 0; i < baudRates.length; i++) {
					var item = baudRates[i];
					var optionField = $("<option value='" + item + "'>" + item + "</option>");

					if (item === "256000")
						optionField.attr("selected", "selected");
					
					$("select#baud-rates-select").append(optionField);
				}

				$("body").on("click", "img#wrench", function(e) {
					windowsApp.showDevTools();
				});
			});

			var videoElement = document.getElementById("video");
			var videoElement2 = document.getElementById("video2");

			function gotStream(stream) {
				if (!videoElement.srcObject)
					videoElement.srcObject = stream;
				else
					videoElement2.srcObject = stream;
  
				var devices = navigator.mediaDevices.enumerateDevices();
				//console.log(devices);

			  return devices;
			}

			function start() {
				if (window.stream) {
					window.stream.getTracks().forEach(function(track) {
					  track.stop();
					});
				}
  
				//cam2: 9dfd77aa6a915e1a8112bde7e4884ed02588360058e5010b0284d3e493d31f42
				//cam1: 3f4bd793b5df13e89658391dfeeb0ec2c57aaa2a170b1922fac5e392daa42797
				var idTable = [];

				var promise = navigator.mediaDevices.enumerateDevices();
				//console.log(promise);

				promise.then(function(devices) {
					console.log(devices);

					for(var i = 0; i < devices.length; i++) {
						var device = devices[i];

						console.log(device);

						if (device.kind == 'videoinput')
							idTable.push(device.deviceId);
					}
				}).then(function() {
					console.log(idTable);
					for(var i = 0; i < 2; i++) {
						var videoSource = idTable[i];

						var constraints = {
							video: 	{ deviceId: videoSource }
						};
  
						navigator.mediaDevices.getUserMedia(constraints).
							then(gotStream).catch(handleError);
					}
				});


				/*for(var i = 0; i < promise; i++) {
					var device = promise[i];

					if (device.kind == 'videoinput')
						idTable.push(device.deviceId);
				}*/

				//console.log(idTable);

			}

			start();

			function handleError(error) {
				console.log('navigator.getUserMedia error: ', error);
			}

		</script>
	</body>
</html>